.custom-body{
    background: rgba(31,31,31,1) !important
}

.custom-sitebar{
    background: rgba(31,31,31,1) !important
}

.custom-page-logo{
    background: #222 !important;
    height: 70px !important;
}

.costom-gold-text{
    color:rgba(204,153,0,1)
}

.mt-0{
    margin-top: 0 !important;
}

.margin-top-0{
    margin-top: 0 !important
}

.mic-table th, .mic-table td{
    vertical-align: middle !important;
    text-align: center
}

.active, .reserved, .point{
    display: block;
}

.active em, .reserved em, .point em{
    font-style: normal;
    font-weight: bold;
}

.page-sidebar.custom-sitebar .page-sidebar-menu>li>a, .page-sidebar.custom-sitebar .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a{
    color:rgba(255,255,255,1);
    font-weight: 400
}


.page-sidebar.custom-sitebar .page-sidebar-menu>li.active.open>a, .page-sidebar.custom-sitebar .page-sidebar-menu>li.active>a, .page-sidebar.custom-sitebar .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, .page-sidebar.custom-sitebar .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a{
    background:rgba(204,153,0,1);
    color: #fff;
}

.page-sidebar.custom-sitebar .page-sidebar-menu .sub-menu>li.active>a,
.page-sidebar.custom-sitebar .page-sidebar-menu .sub-menu>li.open>a,
.page-sidebar.custom-sitebar .page-sidebar-menu .sub-menu>li:hover>a,
.page-sidebar.custom-sitebar .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a,
.page-sidebar.custom-sitebar .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a,
.page-sidebar.custom-sitebar .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a{
    background:rgba(204,153,0,.5) !important;
    color: #fff
}

.page-sidebar.custom-sitebar .page-sidebar-menu>li>a>i[class*=icon-],
.page-sidebar.custom-sitebar .page-sidebar-menu>li>a>i[class^=icon-],
.page-sidebar.custom-sitebar .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class*=icon-],
.page-sidebar.custom-sitebar .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class^=icon-]{
    color:rgba(255,255,255,1)
}

.page-sidebar.custom-sitebar .page-sidebar-menu>li.active>a>i[class*=icon-]{
    color: #fff !important
}

.page-sidebar.custom-sitebar .page-sidebar-menu .sub-menu li>a,
.page-sidebar.custom-sitebar .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li>a{
    color: rgba(255,255,255,.75)
}

.page-footer{
    background: rgba(250,250,250,1)
}

.custom-page-header{
    background: rgba(250,250,250,1) !important;
    box-shadow:0 1px 15px 1px rgba(69,65,78,.3) !important;
    height: 70px !important
}

.page-header-fixed .page-container.custom-page-container{
    margin-top: 70px !important
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon {
    text-align: center;
    line-height: 0;
    vertical-align: middle;
    padding: 0;
    color: #000;
    font-size: 15px
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon>i:before{
    background: -webkit-linear-gradient(180deg,#555 ,#333 100%);
    background: linear-gradient(180deg,#555 ,#333 100%);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.badge-default, .label-default{
    background: rgba(166,133,51,1)
}

.dropdown.dropdown-extended.dropdown-notification.m-nav__item > .dropdown-toggle.m-nav__link:hover .badge.badge-default{
    background: rgba(51,51,51,1)
}

.text-bold{
    font-weight: 700 !important
}

.page-header.navbar .menu-toggler.sidebar-toggler.custom-toggler span{
    transition: all .4s ease
}

.page-header.navbar .menu-toggler.sidebar-toggler.custom-toggler:hover span{
    /*width: 10px;*/
}

.page-header.navbar .menu-toggler{
    opacity: 1 !important
}

.page-header.navbar .menu-toggler.sidebar-toggler.custom-toggler span, .page-header.navbar .menu-toggler.sidebar-toggler.custom-toggler span:after, .menu-toggler.sidebar-toggler.custom-toggler span:before{
    background: #fff !important;
}

.box-shadow-0{
    box-shadow: 0 1px 8px 1px rgba(69,65,78,.1);
}


.page-header.navbar .page-logo.custom-page-logo .logo-default{
    margin-top: 15px !important;
}

.menu-toggler.sidebar-toggler.custom-toggler{
    margin-top: 25px !important
}

.page-header.custom-page-header.navbar .top-menu .navbar-nav>li.dropdown{
    height: 70px !important;
}


.page-header.custom-page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle{
    padding: 25px 15px 25px !important
}


.page-header.custom-page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle>.badge{
    top: 15px !important
}

.custom-sitebar .nav-link.nav-toggle .selected{
    border-right: 12px solid rgba(242, 243, 248, 1) !important
}

.custom-footer-inner{
    color: rgba(255,255,255,.5) !important
}

.page-footer-inner.custom-footer-inner, .custom-footer-inner a{
    color: rgba(204,153,0,1) !important
}

.page-header.custom-page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>.username, .page-header.custom-page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>i{
    color: rgba(51,51,51,1) !important;
    font-weight: bold
}

.page-header.custom-page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle:hover{
    background: rgba(209,180,101,1) !important;
}

.page-header.custom-page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle:hover>.username, .page-header.custom-page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle:hover>i{
    color: rgba(255,255,255,1) !important
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link:hover .m-nav__link-icon>i{
    color: rgba(255,255,255,1) !important
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link:hover .m-nav__link-icon>i:before{
        background: -webkit-linear-gradient(180deg,#fff ,#fff 100%);
    background: linear-gradient(180deg,#fff ,#fff 100%);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*============================================
member tree
============================================*/
.popup-wrap{
    padding: 10px;
    min-width: 200px;
    position: absolute;
    z-index: 999
}

.table-pop{
    padding: 5px ;
    background: #fff;
}

.table-pop tr td, .table-pop tr th{
    border: 1px solid #d5d5d5;
    margin: 0;
    padding: 5px;

}

.table-pop tr th{
    background: #d5d5d5;
}

.member-tree-img{
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.member-display figcaption{
    margin: 10px 0;
    word-break: break-all;
}

.member-display figcaption h6{
    font-size: 12px !important;
}

.first-member{
    position: relative;
    margin-bottom: 10px;
}

.first-member:after{
    content: '';
    width: 2px;
    background: #f00;
    height: 10px;
    position: absolute;
    left: 50%;
    margin-left:-1px;
}

.sec-member-row, .tr-member-row, .ft-member-row{
    position: relative;
}

.sec-member-row:before, .tr-member-row:before, .ft-member-row:before{
    content: '';
    width: 50%;
    height: 2px;
    background: #f00;
    top: 0;
    position: absolute;
    left: 25%;
}

.ltc{
    position: relative;
    padding-top: 20px !important;
    padding-bottom: 10px !important;
}

.ltc:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 10px;
    top: 0px;
    left: 50%;
    margin-left: -1px;
    background: #f00;
}

/*.ltc:after{
    content: '';
    position: absolute;
    width: 2px;
    height: 10px;
    bottom: 0px;
    left: 50%;
    margin-left: -1px;
    background: #f00;
}*/

.ltc.last_lct:after{
    display: none;
}

.ft-member-row:after{
    content: '';
    background: #f00;
    position: absolute;
    top: -10px;
    left: 50%;
    height: 10px;
    width: 2px;
    margin-left: -1px;
    z-index: 0;
}

.tree-wrap{
    padding-bottom: 50px !important;
}

.dashboard-stat .visual>i{
    color: #fff !important;
    opacity: .5 !important
}

.colo-01{
    background: #052684 !important
}

.colo-02{
    background: #c40041 !important
}

.colo-03{
    background: #009a36 !important
}

.colo-04{
    background: #8a5f20 !important
}

.dashboard-stat .details .number,.dashboard-stat .details .desc{
    color: #fff !important
}


.btn-mic{
    background: #f6a821;
    color: #333;
}

.panel-success.mic-success{
    border-color: #f6a821
}

.panel-success.mic-success>.panel-heading {
    color: #333;
    background-color: #f6a821;
    border-color: #f6a821;
}

.language-drop > a{
    color: #222;
    font-weight: bold;
}

.language-drop > a > span{
    margin-left: 5px
}

.carousel-img{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.carousel-h-300 .carousel-img{
    height: 300px
}

.carousel-h-400 .carousel-img{
    height: 400px
}

.carousel-h-500 .carousel-img{
    height: 500px
}

.carousel-h-600 .carousel-img{
    height: 600px
}

.details .number.custom-number{
    font-size: 45px;
    line-height: 50px;
}

@media (min-width:320px) and (max-width:420px){
    .min-m-top{
        background: rgba(250,250,250,1)
    }

    .page-header-fixed .page-container.custom-page-container{
        margin-top: auto !important
    }

    .sec_right{
        margin-left: 20px !important;
    }

    .sec_left{
        margin-left: -20px !important;
    }

    .three_right{
        margin-left: 45px !important;
    }

    .three_left{
        margin-left: -45px !important;
    }

    .custom-page-header{
        background: #222 !important
    }

    .m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon{
        color: #222 !important
    }

    .m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon>i:before{
        background: -webkit-linear-gradient(180deg,#222 ,#222 100%);
        background: linear-gradient(180deg,#222 ,#222 100%);
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .page-header.custom-page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>.username, .page-header.custom-page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>i{
        color: #222 !important
    }


}
